* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
}

.header--container {
  display: flex;
  align-items: center;
  width: auto;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #ffffff;
}

.header--container img {
  width: 32px;
  height: 27px;
  margin-left: 20px;
}

.header--container h2 {
  font-family: Karla;
  font-style: normal;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0em;
  margin-left: 7px;
}

.header--container h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  margin-left: auto;
  margin-right: 37px;
}

.meme--container {
  margin: 36px auto 36px auto;
  max-width: 80%;
}

.meme--input {
  display: flex;
  justify-content: space-between;
}

.input--top {
  width: 230px;
  height: 35px;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.input--bottom {
  width: 230px;
  height: 35px;
  margin-left: 8px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

/* Centering only Placeholder text. Typed text will be left aligned as specified above */
::-webkit-input-placeholder {
  text-align: center;
}

.meme--button button {
  width: 100%;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  border-radius: 5px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-top: 25px;
  cursor: pointer;
}

.meme--image--container {
  position: relative;
  margin-top: 46px;
  width: 100%;
  height: auto;
}

.meme--image {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  background-color: bisque;
}

.top--text {
  /* position: absolute;
  width: 80%;
  text-align: left; */
  text-align: center;
}

.bottom--text {
  /* position: absolute;
  width: 100%;
  text-align: right; */
  text-align: center;
}
